<%- include("./partials/header.ejs") %>

    <div>
      <form action="/submit" method="POST" id="form">
        <label for="postName">Name your post</label>
        <input type="text" name="postName" id="postName" required>

        <label for="postContent">Let it all out!</label>
        <input type="text" name="postContent" id="postContent" required>

        <input type="submit" value="Submit">
      </form>
    </div>

    <section id="postsSection">
  <div id="posts">
    <% if (locals.postData != null) { %>
      <% Object.keys(locals.postData).forEach((key) => { %>
        <% if (key.startsWith("postName")) { %>
          <div class="post"> <!-- Move opening .post div inside the loop -->
            <% var nameID = key.replace(/[^0-9]/g, ''); %>
            <div class="post-name">
              <h1 id="<%= 'post' + nameID + '_name' %>">
                <%= locals.postData[key]%>
              </h1>
            </div>
        <% } %>

        <% if (key.startsWith("postContent")) { %>
          <div class="post-content">
            <% var contentID = key.replace(/[^0-9]/g, ''); %>
            <h2 id="<%= 'post' + contentID + '_content' %>">
              <%= locals.postData[key]%>
            </h2>
          </div>

          <div class="icons">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-x"></i>
          </div>
        </div> <!-- Move closing .post div inside the loop -->
        <% } %>
      <% }) %>
    <% } else { %>
      <h1>There are no posts!</h1>
    <% } %>
  </div>
</section>

    
    <script src="scripts/index.js"></script>
  </main>
</body>
</html>